
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
html{
scroll-behavior: smooth;
}

* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

/*banner*/

.banner {
    width: 100%;
    height: 90vh;
    background-color: #152445;
    background-image: url('./images/town.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.header {

    width: 100%;
    height: 70px;
    padding: 0px 15%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.logo {
    width: 40%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5f1ed;
}

.logo-text{
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.nav {
    width: 50%;
    height: 70px;
}

.nav-links{
width: 100%;
height: 70px;
list-style-type: none;
display: flex;
align-items: center;
justify-content: space-between;
font-family: 'Roboto', sans-serif;
font-weight: 500;
color: #063b0f;
font-size: 18px;
word-spacing: 4px;
}

.aboutbtn{
    background-color: rgba(68, 63, 63, 0.6);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    align-items: center;
    padding: 20px 20px;
}

.packagesbtn{
    background-color: rgba(68, 63, 63, 0.6);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    align-items: center;
    padding: 20px 20px;
   
}

.contactsbtn{
    background-color: rgba(68, 63, 63, 0.6);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    align-items: center;
    padding: 20px 20px;
}

.contactsbtn:hover{
    background-color: #063b0f;
}

.packagesbtn:hover{
    background-color: #063b0f;
}

.aboutbtn:hover{
    background-color: #063b0f;
}

.banner-details{
    width: 100%;
    padding: 20px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

.banner-heading{
width: 100%;
margin-top:80px;
font-size: clamp(2rem, 6vw, 5rem);
font-family: 'Roboto', sans-serif;
font-weight: 600;
color: white;
text-align: center;
}

.badge{
width: 100%;
padding: 20px 20px;
background-color: rgba(68, 63, 63, 0.8);
font-family: 'Roboto', sans-serif;
font-size: 20px;
border-radius: 5px;
color: white;
text-align: center;

}

/*about section*/
.about{
width: 100%;
padding: 100px 10%;
background-color: rgb(243, 243, 243);
font-family: 'Roboto', sans-serif;
font-size: 30px;
font-weight: 250;
word-spacing: 2px;
}

.highlight{
    font-weight: bold;
    color: rgba(68, 63, 63, 1);
}



.section-heading{
   width: max-content;
padding: 10px 20px;
background-color: rgba(255, 255, 255, 0.989);
font-family: 'Roboto', sans-serif;
font-size: 50px;
border-radius: 5px;
color: white;

}



/* packages */
.packages{
width: 100%;
padding: 50px 15%;
font-family: 'Roboto', sans-serif;
display: flex;
flex-direction: column;
align-items: center;
}


.section-title{
    padding: 20px 20px;
    background-color: rgba(6, 45, 10, 0.9);
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    border-radius: 14px;
    color: white;
}

.below{
margin-top: 20px;
font-size: 20px;
font-family: 'Roboto', sans-serif;
align-items: center;
}


.packages-area{
width: 100%;
padding: 10px 0px;
margin-top: 50px;
display: flex;
gap: 10px;
flex-wrap: wrap;
}

@media screen and (max-width: 768px) {

    .packages-area{
        flex-direction: column;
    }

    .town,
    .amusement,
    .hospital{
        width: 100%;
    }
}


.town{
width: auto;
background-color: white;
flex: 1;
}


.town-img{
height: 250px;
width: 100%;
overflow: hidden;
}

.town-image{
width: 100%;
height: 220px;
object-fit: cover;
}

.town-details{
padding: 10px;
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}

.townbtn{
height: 50px;
width: 100%;
font-size: 25px;
}

.amusement{
width: auto;
background-color: white;
flex: 1;
}


.amusement-img{
height: 250px;
width: 100%;
overflow: hidden;
}

.amusement-image{
width: 100%;
height: 220px;
object-fit: cover;
}

.amusement-details{
padding: 10px;
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}

.amusementbtn{
height: 50px;
width: 100%;
font-size: 25px;
}

.hospital{
width: auto;
background-color: white;
flex: 1;
}


.hospital-img{
height: 250px;
width: 100%;
overflow: hidden;
}

.hospital-image{
width: 100%;
height: 220px;
object-fit: cover;
}

.hospital-details{
padding: 10px;
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}

.hospitalbtn{
height: 50px;
width: 100%;
font-size: 25px;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

.contactpage{
width: 100%;
min-height: 700px;
height: auto;
padding: 10px 0px;
margin-top: 50px;
display: flex;
gap: 10px;
flex-wrap: nowrap;
background-color: rgb(243, 243, 243);
}

.container{
margin-top: 75px;
position: relative;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
padding: 10px 10px;
overflow: hidden;
}

.contact-box{
    border-radius: 2em;
    min-height: 500px;
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
}

.left{
    height: 100%;
    background-image: url("images/welcomesign2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2em;
}

.right{
    padding: 40px 40px;
}

h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h2:after{
content: '';
position: absolute;
left: 50%;
bottom: 0;
transform: translateX(-50%);
height: 5px;
width: 100px;
border-radius: 1em;
background-color: rgba(6, 45, 10, 0.9);
}

.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgb(168, 163, 163);
    background-color: rgb(235, 233, 233);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s ease;
    border-radius: 14px;
    resize: none;
}

.field:hover{
background-color: rgb(252, 252, 252);
}

.field:focus{
    background-color: white;
    border: 3px solid rgba(6, 45, 10, 0.9)
}

.submitbtn{
width: 100%;
padding: 1px 1px;
font-size: 19px;
background-color: rgb(235, 233, 233);
border: 2px solid rgb(168, 163, 163);
border-radius: 14px;
cursor: pointer;
color: black;
font-weight: 700;
letter-spacing: 1px;
transition: .3s ease;
}

.submitbtn:hover{
    background-color: rgba(6, 45, 10, 0.9);
    color: white;
}

/*.dropdown{
     width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgb(168, 163, 163);
    background-color: rgb(235, 233, 233);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s ease;
    border-radius: 14px;
    resize: none;
}*/
.test{
     width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgb(168, 163, 163);
    background-color: rgb(235, 233, 233);
    color: rgb(107, 107, 107);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s ease;
    border-radius: 14px;
    resize: none;
}
.test:hover{
background-color: rgb(252, 252, 252);
}

@media screen and (max-width:880px){
    .contact-box{
        grid-template-columns: 1fr;
    }
    .left{
        height: 200px;
    }
}


footer {
width: 100%;
margin: 5px;
min-height: 100px;
font-size: 20px;
text-align: center;
padding: 15px 15px;
background-color: rgb(253, 255, 255);
color: black;
}

footer a{
    margin: 0 10px;
}

@media screen and (max-width: 768px){
    .banner{
        min-height: 100vh;
        height: auto;
    }
    .header{
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 10px;
        padding: 20px;
    }

    .logo{
        width: 100%;
    }

    .logo-text{
        font-size: 22px;
    }

    .aboutbtn,
    .packagesbtn,
    .contactsbtn{
        font-size: 18px;
        padding: 10px 20px;
        width: 150px;
    }
}
@media screen and (max-width: 480px){

    .banner-heading{
        font-size: 30px;
    }

    .about{
        font-size: 20px;
        padding: 50px 5%;
    }

    .section-title{
        font-size: 30px;
    }

    .below{
        text-align: center;
    }

    footer{
        font-size: 16px;
        height: auto;
    }
}

